@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#contenedor-creacion {
  background-image: url("../Assets/bg-1.png");
  width: auto;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#imagen {
  background: rgb(35, 87, 148);
  background: linear-gradient(
    90deg,
    rgba(35, 87, 148, 1) 0%,
    rgba(102, 35, 203, 1) 45%,
    rgba(34, 68, 128, 1) 85%
  );
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  margin: auto auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#titulos {
  font-family: "Rowdies", cursive;
}

#parrafos {
  font-family: "Noto Nastaliq Urdu", serif;
}

p {
  font-family: "Noto Nastaliq Urdu", serif;
}
#typing {
  overflow: hidden;
  font-family: "Rowdies", cursive;
  white-space: nowrap;
  border-right: 0.1em solid orange;
  font-size: 40px;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  animation-fill-mode: forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

#button:hover {
  transform: scale(1.1); /* aumenta el tamaño en un 10% */
  transition: transform 0.2s; /* tiempo de transición de 0.2 segundos */
  background-color: green; /* cambia el color de fondo a verde */
}

#button2:hover {
  transform: scale(1.1); /* aumenta el tamaño en un 10% */
  transition: transform 0.2s; /* tiempo de transición de 0.2 segundos */
  background-color: rgb(100, 21, 161); /* cambia el color de fondo a verde */
}

a {
  text-decoration: none;
}

.animation-slide {
  animation: slide-in 1s forwards;
  word-spacing: 10px;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%); /* comienza fuera de la pantalla */
  }
  to {
    transform: translateX(0); /* termina en su posición original */
  }
}

/* Realizado efectos */

/* h4 */

#h4 {
  animation: slideInFromRight 0.5s ease-in-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* p */

#p {
  animation: slideInFromLeft 0.5s ease-in-out;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Animacion de parpadeo .flash de react-bootstrap no funciona :( */

.flash {
  animation: flash 5s infinite;
}

@keyframes flash {
  50% {
    opacity: 0;
  }
}
